# Copy this file as ".env" in the same folder as the docker-compose.yml file.
# Then fill all variables.

# local port configuration
HTTP_PORT=
SSL_PORT=
PHPMYADMIN_PORT=
MAILDEV_PORT=
MYSQL_PORT=

# database configuration
DB_ROOT_PASSWORD=
DB_NAME=
DB_USER_NAME=
DB_USER_PASSWORD=
